[MODE]
mode={"login":[],
        "register":[],
        "recharge":[],
        "business":"all",
        "invest":"all"
        }

[DB]
db_config = (
               host="169.254.160.239",
               port='3306',
               user="python",
               password="python666",
               database="future",
               charset="utf8"
               )
[CHECKLEAVEAMOUNT]
check_list=['recharge','invest','withdraw']