# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\python3_code\sublime_text03\14SoftwareTest\APITest\python_apiTest\py_ApiTestFramework_V1.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
